@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: aliceblue;
}

.proSection {
    display: flex;
    background-color: white;
    flex-wrap:wrap;
    
    
}


.navSection {
    display: flex;
    width: 100%;
    
    height: 60px;
    background-color: #dd7be6;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    
}

.title h2 {
    color: white;
}


.user {
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

.search {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}

.search input {
    width: 80%;
    height: 2rem;
    border-radius: 10px;
    padding-left: 10px;
    font-weight: 400;
    font-size: medium;
}

.imgBox {
    width: 80%;
    padding-left: 20px;
    max-width: 20%;
}

.proImage {
    width: 80%;
}

.proTitle h2 {
    margin: 10px;
}

.search {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}

.search input {
    width: 80%;
    height: 2rem;
    border-radius: 10px;
    padding-left: 10px;
    font-weight: 400;
    font-size: medium;
}

.submenu ul li {
    list-style: none;
    margin: 26px;
    margin-top: 10px;
    cursor: pointer;
}

.submenu ul li:hover {
    border-bottom: 2px solid white;
    color: black;
}

.submenu {
    background-color: gray;
    color: azure;
    height: 50px;
}

.submenu ul {
    display: inline-flex;
}


.pageSection {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 10px;
}

.pageImg {
    width: 250px;
    height: 250px;
    padding-top: 20px;
}

.pageImg img {
    width: 80%;
}

.pageImg img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.ind-image{
    width:500px;
    height:500px;
}
.ind-image img{
    width:100%;
}
.ind-section{
    display:flex;
}
.ind-details{
    padding:20px;

}
.space{
    margin: 10px;
}
.ind-details button{
    background-color:red;
    padding: 10px;
    width: 10rem;
    box-shadow: 1px;
}
.fullpage{
    display:flex;
}
.pro-selected{
    width:40%;
    border:1px solid black;
}
.pro-input input{
    margin:5px;
}
ul li{
    color:white;
}